@import "libs/variables.scss";

body {
    font-family: "DM Sans", sans-serif;
    width: $page;
    padding: 40px 100px;
    margin: 0;
}

// Logo, titre et barre de recherche.
header {
    width: $page;
    color: #D04F4F;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

    // Paragraphe du logo.
    >#logo-p {
        line-height: 0;
        margin: auto 0;
    }

    // Titre.
    >h1 {
        width: 268px;
        height: 47px;
        margin: 0 auto 20px auto;
    }

    // Barre de recherche.
    >#search {
        display: flex;
        justify-content: center;

        // Champ de saisie et bouton.
        >#search-input, >#search-button {
            background: $lightGrey;
            font-family: "Lato", sans-serif;
            font-size: 18px;
            width: 1130px;
            height: 65px;
            padding: 0 20px;
            border-radius: 5px 0 0 5px;
        }
        >#search-input:focus {
            outline: none;
        }

        // Bouton avec loupe.
        >#search-button {
            width: 70px;
            height: 69px;
            padding: 0;
            border-radius: 0 5px 5px 0;
            &:hover, &:focus {
                background: darken($lightGrey, 10);
            }

            // Icône seule.
            >#loupe {
                margin: 19px;
            }
        }
    }
}

// Ligne d'apparition des tags.
#tagLine {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;

    // Chacun des tags.
    >.chosen-tag {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        padding: 7px 20px;
        border-radius: 5px;
        margin: 0 10px 10px 0;

        // Texte du tag.
        >.tag-text {
            margin-right: 10px;
        }

        // Icône de fermeture.
        >.tag-img {
            cursor: pointer;
        }
    }

    // Chacun des tags "ingrédients".
    >#chosen-tag-1 {
        background: $colorIngr;
    }

    // Chacun des tags "appareils".
    >#chosen-tag-2 {
        background: $colorAppa;
    }

    // Chacun des tags "ustensiles".
    >#chosen-tag-3 {
        background: $colorUste;
    }
}

// Ligne des menus déroulants.
#dropdown-line {
    display: flex;
    margin-top: 10px;

    // Chacun des menus fermés et déroulés.
    >.dropdown {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        text-decoration: none;
        width: 130px;
        height: 69px;
        padding: 0 20px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            width: 670px;
            padding: 0;
            >.closed-drop {
                width: 670px;
                justify-content: space-between;
                >.drop-title {
                    display: none;
                }
                >#drop1-input, >#drop2-input, >#drop3-input { //.drop-input { //-open {
                    display: flex;
                    //outline: none;
                    color: lighten($lightGrey, 10);
                    font-size: 18px;
                    width: 630px;
                    height: 30px;
                    border-radius: 5px;
                    border-width: 2px;
                    margin-left: 20px;
                }
                >.up-arrow {
                    display: flex;
                    margin-right: 20px;
                }
                >.down-arrow {
                    display: none;
                }
            }
            >.expanded-drop {
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                position: absolute;
                left: 0;
                top: 80%;
                overflow-y: auto;
                z-index: 1;
                >.exp-drop-line {
                    display: inline-block;
                    width: 33%;
                }
            }
        }

        // Menus fermés.
        >.closed-drop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 130px;
    
            // Chaque champ de recherche de menu déroulant.
            >.drop-input {
                display: none;
            }
            
            // Flèche montante.
            >.up-arrow {
                display: none;
            }
        }

        // Menus déroulés.
        >.expanded-drop {
            display: none;
            width: 630px;
            height: 255px;
            padding: 0 20px 20px 20px;
            border-radius: 5px;
    
            // Chacune des lignes.
            >.exp-drop-line {
                padding: 3px 0;
                &:hover {
                    color: black;
                }
            }
        }

        >#expanded-drop1, #drop1-input {
            background: $colorIngr;
        }

        >#expanded-drop2, #drop2-input {
            background: $colorAppa;
        }

        >#expanded-drop3, #drop3-input {
            background: $colorUste;
        }
    }

    // Menu "Ingrédients".
    >#drop_Ingr {
        background: $colorIngr;
        margin: 0 10px 10px 0;
    }

    // Menu "Appareils".
    >#drop_Appa {
        background: $colorAppa;
        margin: 0 10px 10px 10px;
    }

    // Menu "Ustensiles".
    >#drop_Uste {
        background: $colorUste;
        margin: 0 0 10px 10px;
    }
}

// Contenu principal.
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

    // Chaque carte de recette.
    >.section {
        width: $card;
        height: 364px;
        margin-bottom: 50px;

        // Haut de la carte pour l'emplacement de l'image.
        >.section-top {
            background: #C7BEBE;
            width: $card;
            height: 178px;
        }

        // Bas de la carte pour les textes.
        >.section-bottom {
            background: $lightGrey;
            font-family: "Lato", sans-serif;
            width: $card;
            height: 186px;

            // Titre et durée.
            >.bottom-title-time {
                display: flex;
                justify-content: center;
                font-size: 18px;
                width: 340px;
                height: $cardTitle;
                padding: 0 20px;

                // Titre seul.
                >.bottom-title {
                    display: flex;
                    align-items: center;
                    width: 250px;
                    height: $cardTitle;
                }

                // Durée seule.
                >.bottom-time {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-weight: bold;
                    width: 90px;
                    height: $cardTitle;

                    // Icône de durée seule.
                    >#temps {
                        margin-right: 5px;
                    }
                }
            }

            // Description : ingrédients et recette.
            >.bottom-descr {
                display: flex;
                justify-content: center;
                font-size: 12px;
                width: 340px;
                height: 136px;
                padding: 0 20px;

                // Ingrédients seuls.
                >.bottom-ingr {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 170px;
                    height: 136px;
                    padding-top: 5px;
                    padding-right: 10px;
                }

                // Recette seule.
                >.bottom-recipe {
                    font-family: "Roboto", sans-serif;
                    width: 170px;
                    height: 120px;
                    overflow: hidden;
                    padding-top: 5px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

// CLASSES ET ID EN TEST !!!
.dropdown-closed {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    width: 130px;
    height: 69px;
    padding: 0 20px;
    border-radius: 5px;
    /*
    &:focus {
        display: none;
        +.dropdown-open {
            display: flex;
        }
    }
    */
}

#drop_Ingr-closed {
    background: $colorIngr;
    margin: 0 10px 10px 0;
}

.dropdown-open {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    width: 630px;
    height: 255px;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
}

#drop_Ingr-open {
    background: $colorIngr;
    margin: 0 10px 10px 0;
}

.drop-input-test {
    display: flex;
    //outline: none;
    color: lighten($lightGrey, 10);
    font-size: 18px;
    width: 630px;
    height: 30px;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 20px;
}

#drop1-input-test {
    background: $colorIngr;
}

.up-arrow-test {
    display: flex;
}