@import "libs/variables.scss";

body {
    position: relative;                       // GARDER ??
    font-family: "DM Sans", sans-serif;
    width: $page;
    padding: 40px 100px;
    margin: 0;
}

// Logo, titre et barre de recherche.
header {
    width: $page;
    color: #D04F4F;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

    // Paragraphe du logo.
    >#logo-p {
        line-height: 0;
        margin: auto 0;
    }

    // Titre.
    >h1 {
        width: 268px;
        height: 47px;
        margin: 0 auto 20px auto;
    }

    // Barre de recherche.
    >#search {
        display: flex;
        justify-content: center;

        // Champ de saisie et bouton.
        #search-input, >#search-button {
            background: #E7E7E7;
            font-family: "Lato", sans-serif;
            font-size: 18px;
            width: 1130px;
            height: 65px;
            padding: 0 20px;
            border-radius: 5px 0 0 5px;
        }
        #search-input:focus {
            outline: none;
        }

        // Bouton avec loupe.
        >#search-button {
            width: 70px;
            height: 69px;
            padding: 0;
            border-radius: 0 5px 5px 0;
            &:hover {
                background: darken(#E7E7E7, 10);
            }

            // Icône seule.
            >#loupe {
                margin: 19px;
            }
        }
    }
}

// Ligne des menus déroulants.
.dropdown-line {
    display: flex;
    margin-top: 10px;

    // Chacun des menus.
    >.dropdown {
        display: flex;
        align-items: center;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        width: 150px;
        height: 69px;
        padding-left: 20px;
        border-radius: 5px;
    }

    // Menu "Ingrédients".
    >#drop_Ingr {
        background: #3282F7;
        margin: 0 10px 10px 0;
    }

    // Menu "Appareils".
    >#drop_Appa {
        background: #68D9A4;
        margin: 0 10px 10px 10px;
    }

    // Menu "Ustensiles".
    >#drop_Uste {
        background: #ED6454;
        margin: 0 0 10px 10px;
    }
}

// Contenu principal.
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px green solid;                   // SUPPRIMER
    margin-top: 10px;

    // Chaque carte de recette.
    >.section {
        width: $card;
        height: 364px;
        margin-bottom: 50px;

        // Haut de la carte pour l'emplacement de l'image.
        >.section-top {
            background: #C7BEBE;
            width: $card;
            height: 178px;
        }

        // Bas de la carte pour les textes.
        >.section-bottom {
            background: #E7E7E7;
            font-family: "Lato", sans-serif;
            width: $card;
            height: 186px;

            // Titre et durée.
            >.bottom-title-time {
                display: flex;
                justify-content: center;
                font-size: 18px;
                width: 340px;
                height: $cardTitle;
                padding: 0 20px;

                // Titre seul.
                >.bottom-title {
                    display: flex;
                    align-items: center;
                    width: 250px;
                    height: $cardTitle;
                }

                // Durée seule.
                >.bottom-time {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-weight: bold;
                    width: 90px;
                    height: $cardTitle;

                    // Icône de durée seule.
                    >#temps {
                        margin-right: 5px;
                    }
                }
            }

            // Description : ingrédients et recette.
            >.bottom-descr {
                display: flex;
                justify-content: center;
                font-size: 12px;
                width: 340px;
                height: 136px;
                padding: 0 20px;

                // Ingrédients seuls.
                >.bottom-ingr {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 170px;
                    height: 136px;
                    padding-top: 5px;
                    padding-right: 10px;
                }

                // Recette seule.
                >.bottom-recipe {
                    font-family: "Roboto", sans-serif;
                    width: 170px;
                    height: 120px;
                    overflow: hidden;
                    padding-top: 5px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}
