body {
  font-family: "DM Sans", sans-serif;
  width: 1240px;
  padding: 40px 100px;
  margin: 0;
}

header {
  width: 1240px;
  color: #D04F4F;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
header > #logo-p {
  line-height: 0;
  margin: auto 0;
}
header > h1 {
  width: 268px;
  height: 47px;
  margin: 0 auto 20px auto;
}
header > #search {
  display: flex;
  justify-content: center;
}
header > #search #search-input, header > #search > #search-button {
  background: #E7E7E7;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 1130px;
  height: 65px;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
}
header > #search #search-input:focus {
  outline: none;
}
header > #search > #search-button {
  width: 70px;
  height: 69px;
  padding: 0;
  border-radius: 0 5px 5px 0;
}
header > #search > #search-button:hover, header > #search > #search-button:focus {
  background: #cecece;
}
header > #search > #search-button > #loupe {
  margin: 19px;
}

#tagLine {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
}
#tagLine > .chosen-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
#tagLine > .chosen-tag > .tag-text {
  margin-right: 10px;
}
#tagLine > .chosen-tag > .tag-img {
  cursor: pointer;
}
#tagLine > #chosen-tag-1 {
  background: #3282F7;
}
#tagLine > #chosen-tag-2 {
  background: #68D9A4;
}
#tagLine > #chosen-tag-3 {
  background: #ED6454;
}

#dropdown-line {
  display: flex;
  margin-top: 10px;
}
#dropdown-line > .dropdown {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-decoration: none;
  width: 130px;
  height: 69px;
  padding: 0 20px;
  border-radius: 5px;
}
#dropdown-line > .dropdown:hover {
  cursor: pointer;
}
#dropdown-line > .dropdown:focus {
  align-items: center;
  width: 670px;
  padding: 0;
}
#dropdown-line > .dropdown:focus > .closed-drop {
  width: 670px;
  justify-content: space-between;
}
#dropdown-line > .dropdown:focus .drop-title {
  display: none;
}
#dropdown-line > .dropdown:focus .up-arrow {
  display: flex;
  margin-right: 20px;
}
#dropdown-line > .dropdown:focus .down-arrow {
  display: none;
}
#dropdown-line > .dropdown:focus .drop-input {
  display: flex;
  margin-left: 20px;
}
#dropdown-line > .dropdown:focus > .expanded-drop {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  overflow-y: auto;
  left: 0;
  top: 80%;
  z-index: 1;
}
#dropdown-line > .dropdown:focus > .expanded-drop > .exp-drop-line {
  display: inline-block;
  width: 33%;
}
#dropdown-line .up-arrow {
  display: none;
}
#dropdown-line > #drop_Ingr {
  background: #3282F7;
  margin: 0 10px 10px 0;
}
#dropdown-line > #drop_Appa {
  background: #68D9A4;
  margin: 0 10px 10px 10px;
}
#dropdown-line > #drop_Uste {
  background: #ED6454;
  margin: 0 0 10px 10px;
}
#dropdown-line .closed-drop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}
#dropdown-line .expanded-drop {
  display: none;
  width: 630px;
  height: 255px;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
}
#dropdown-line .expanded-drop > .exp-drop-line {
  padding: 3px 0;
}
#dropdown-line .expanded-drop > .exp-drop-line:hover {
  color: black;
}
#dropdown-line #expanded-drop1, #dropdown-line #drop1-input {
  background: #3282F7;
}
#dropdown-line #expanded-drop2, #dropdown-line #drop2-input {
  background: #68D9A4;
}
#dropdown-line #expanded-drop3, #dropdown-line #drop3-input {
  background: #ED6454;
}
#dropdown-line .drop-input {
  display: none;
  color: white;
  font-size: 18px;
  width: 630px;
  height: 30px;
  border-radius: 5px;
  border-width: 2px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
main > .section {
  width: 380px;
  height: 364px;
  margin-bottom: 50px;
}
main > .section > .section-top {
  background: #C7BEBE;
  width: 380px;
  height: 178px;
}
main > .section > .section-bottom {
  background: #E7E7E7;
  font-family: "Lato", sans-serif;
  width: 380px;
  height: 186px;
}
main > .section > .section-bottom > .bottom-title-time {
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 340px;
  height: 50px;
  padding: 0 20px;
}
main > .section > .section-bottom > .bottom-title-time > .bottom-title {
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
}
main > .section > .section-bottom > .bottom-title-time > .bottom-time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  width: 90px;
  height: 50px;
}
main > .section > .section-bottom > .bottom-title-time > .bottom-time > #temps {
  margin-right: 5px;
}
main > .section > .section-bottom > .bottom-descr {
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 340px;
  height: 136px;
  padding: 0 20px;
}
main > .section > .section-bottom > .bottom-descr > .bottom-ingr {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 170px;
  height: 136px;
  padding-top: 5px;
  padding-right: 10px;
}
main > .section > .section-bottom > .bottom-descr > .bottom-recipe {
  font-family: "Roboto", sans-serif;
  width: 170px;
  height: 120px;
  overflow: hidden;
  padding-top: 5px;
  margin-bottom: 16px;
}

/*# sourceMappingURL=styles.css.map */
